* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ARKA PLAN */
body {
    background: #000000;
    color: #FFF9C4;
}

/* ÜST BAR */
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid #FFF9C4;
    background: #000000;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF9C4;
}

.logo img {
    height: 40px;
}

/* ARAMA */
.search input {
    background: #000000;
    border: 1px solid #FFF9C4;
    padding: 7px 10px;
    color: #FFF9C4;
    border-radius: 6px;
}

.search input::placeholder {
    color: #FFF9C4;
}

/* MENÜ */
.menu {
    font-size: 26px;
    cursor: pointer;
    color: #FFF9C4;
}

/* YAN MENÜ */
.side-menu {
    position: fixed;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100%;
    background: #000000;
    border-left: 2px solid #FFF9C4;
    padding-top: 70px;
    transition: 0.3s;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: #FFF9C4;
    text-decoration: none;
    border-bottom: 1px solid #FFF9C4;
    text-align: center;
}

.side-menu a:hover {
    background: #FFF9C4;
    color: #000000;
}

.side-menu.open {
    right: 0;
}

/* DUYURU */
.announcement {
    margin: 25px;
    padding: 20px;
    border: 2px solid #FFF9C4;
    border-radius: 10px;
    background: #000000;
}

.announcement h2 {
    margin-bottom: 10px;
    color: #FFF9C4;
}
